Repository wagerfield/thunx: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, test

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome check --write {staged_files}
  stage_fixed: true

test:
  run: pnpm vitest related --run --passWithNoTests {staged_files}

feat: add tryrun package
  packages/tryrun/package.json
  packages/tryrun/readmd.md
  packages/tryrun/src/errors.ts
  packages/tryrun/src/index.ts
  packages/tryrun/src/program.test.ts
  packages/tryrun/src/program.ts
  packages/tryrun/src/result.ts
  packages/tryrun/src/service.ts
  packages/tryrun/tsconfig.json
  packages/tryrun/tsdown.config.ts
Due: format, lint, test

chore: rename readme file
  packages/tryrun/readme.md
Due: format

feat: add tryrun changelog
  packages/tryrun/changelog.md
Due: format

feat: break program file into shell and types
  packages/tryrun/src/classes.ts
  packages/tryrun/src/errors.ts
  packages/tryrun/src/index.ts
  packages/tryrun/src/program.test.ts
  packages/tryrun/src/program.ts
  packages/tryrun/src/shell.test.ts
  packages/tryrun/src/shell.ts
  packages/tryrun/src/types.ts
Due: lint, test

feat: create and integrate token types
  packages/tryrun/src/classes.ts
  packages/tryrun/src/context.ts
  packages/tryrun/src/errors.ts
  packages/tryrun/src/index.ts
  packages/tryrun/src/program.ts
  packages/tryrun/src/result.ts
  packages/tryrun/src/shell.ts
  packages/tryrun/src/tag.ts
  packages/tryrun/src/token.ts
  packages/tryrun/src/types.ts
Due: lint, test

chore: replace any with never in token types
  packages/tryrun/src/token.ts
Due: lint, test

feat: update Provider interface
  packages/tryrun/src/context.ts
  packages/tryrun/src/index.ts
  packages/tryrun/src/program.ts
  packages/tryrun/src/provider.ts
  packages/tryrun/src/shell.ts
  packages/tryrun/src/types.ts
Due: lint, test

feat: update readme and package.json meta
  packages/tryrun/license
  packages/tryrun/package.json
  packages/tryrun/readme.md
  packages/tryrun/tsconfig.json
  pnpm-lock.yaml
Due: format, lint

docs: create vitepress docs package
  .gitignore
  .vscode/extensions.json
  cspell.json
  package.json
  packages/docs/.vitepress/config.ts
  packages/docs/guide/creating-programs.md
  packages/docs/guide/error-handling.md
  packages/docs/guide/getting-started.md
  packages/docs/guide/running-programs.md
  packages/docs/index.md
  packages/docs/package.json
  packages/docs/prologue.md
  packages/docs/reference/context.md
  packages/docs/reference/errors.md
  packages/docs/reference/program.md
  packages/docs/reference/provider.md
  packages/docs/reference/result.md
  packages/docs/reference/shell.md
  packages/docs/vercel.json
  packages/tryrun/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint, test

chore: set vitepress outDir to dist
  packages/docs/.vitepress/config.ts
Due: lint, test

docs: add middleware reference file
  packages/docs/reference/middleware.md
Due: format

feat: increment tryrun package version and update changelog
  packages/tryrun/changelog.md
  packages/tryrun/package.json
Due: format, lint

docs: update readme
  packages/tryrun/readme.md
  readme.md
Due: format

docs: reduce effect bundle size to what is documented on effect.website
  readme.md
Due: format

feat: refine shell jsdoc comments and sandbox examples
  packages/tryrun/src/program.ts
  packages/tryrun/src/provider.test-d.ts
  packages/tryrun/src/provider.ts
  packages/tryrun/src/sandbox.ts
  packages/tryrun/src/shell.ts
Due: lint, test

docs: add jsdoc comments to Shell.fail and Program.catch
  packages/tryrun/src/program.ts
  packages/tryrun/src/shell.ts
Due: lint, test

docs: refine Shell.run jsdoc comments
  packages/tryrun/src/shell.ts
Due: lint, test

feat: refine Program generic types
  packages/tryrun/src/program.ts
  packages/tryrun/src/shell.ts
  packages/tryrun/src/types.ts
Due: lint, test

test: add Program requirements type tests for all, any and race methods
  packages/tryrun/src/shell.test-d.ts
Due: lint, test

refactor: rename tryrun to usetry
  cspell.json
  package.json
  packages/docs/.vitepress/config.ts
  packages/docs/index.md
  packages/docs/package.json
  packages/tsconfig/package.json
  packages/usetry/changelog.md
  packages/usetry/license
  packages/usetry/package.json
  packages/usetry/readme.md
  packages/usetry/src/context.test-d.ts
  packages/usetry/src/context.ts
  packages/usetry/src/errors.test-d.ts
  packages/usetry/src/errors.ts
  packages/usetry/src/index.ts
  packages/usetry/src/program.test-d.ts
  packages/usetry/src/program.test.ts
  packages/usetry/src/program.ts
  packages/usetry/src/provider.test-d.ts
  packages/usetry/src/provider.ts
  packages/usetry/src/result.test-d.ts
  packages/usetry/src/result.ts
  packages/usetry/src/sandbox.ts
  packages/usetry/src/shell.test-d.ts
  packages/usetry/src/shell.test.ts
  packages/usetry/src/shell.ts
  packages/usetry/src/token.test-d.ts
  packages/usetry/src/token.ts
  packages/usetry/src/types.test-d.ts
  packages/usetry/src/types.ts
  packages/usetry/tsconfig.json
  packages/usetry/tsdown.config.ts
  packages/usetry/vitest.config.ts
  pnpm-lock.yaml
  readme.md
  tsconfig.json
Due: format, lint, test

feat: replace RunOptions.mode with RunOptions.unwrap
  packages/usetry/src/shell.test-d.ts
  packages/usetry/src/shell.ts
  packages/usetry/src/types.ts
Due: lint, test

feat: update Shell.use doc comments
  packages/usetry/src/shell.ts
Due: lint, test

feat: add spec for sketching out api
  packages/usetry/spec.md
Due: format

feat: replace usetry with tryz
  cspell.json
Due: lint

chore: format with spaces
  .changeset/config.json
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
  cspell.json
  package.json
  packages/docs/.vitepress/config.ts
  packages/docs/package.json
  packages/docs/vercel.json
  packages/tryz/package.json
  packages/tryz/src/context.test-d.ts
  packages/tryz/src/context.ts
  packages/tryz/src/errors.test-d.ts
  packages/tryz/src/errors.ts
  packages/tryz/src/middleware.ts
  packages/tryz/src/program.test-d.ts
  packages/tryz/src/program.test.ts
  packages/tryz/src/program.ts
  packages/tryz/src/provider.test-d.ts
  packages/tryz/src/provider.ts
  packages/tryz/src/result.test-d.ts
  packages/tryz/src/result.ts
  packages/tryz/src/sandbox.ts
  packages/tryz/src/shell.test-d.ts
  packages/tryz/src/shell.test.ts
  packages/tryz/src/shell.ts
  packages/tryz/src/token.test-d.ts
  packages/tryz/src/token.ts
  packages/tryz/src/tracer.ts
  packages/tryz/src/types.test-d.ts
  packages/tryz/src/types.ts
  packages/tryz/tsconfig.json
  packages/tryz/tsdown.config.ts
  packages/tryz/vitest.config.ts
  packages/tsconfig/base.tsconfig.json
  packages/tsconfig/package.json
  tsconfig.json
  turbo.json
  vitest.config.ts
Due: lint, test

chore: format with spaces
  .markdownlint.yaml
  package.json
  packages/tryz/readme.md
  packages/tryz/spec.md
  readme.md
Due: format, lint

docs: update thunx spec
  packages/thunx/spec.md
Due: format

docs: refine thunx spec
  packages/thunx/spec.md
Due: format

docs: add prior art page
  packages/docs/prior-art.md
Due: format

docs: refine tracer section and yieldables table
  packages/thunx/spec.md
Due: format

docs: refine spec
  packages/thunx/spec.md
Due: format

docs: refine Provider definition
  packages/thunx/spec.md
Due: format

docs: add Thunk.delay
  packages/thunx/spec.md
Due: format

docs: update foundations section
  packages/thunx/spec.md
Due: format

docs: refine foundations table
  packages/thunx/spec.md
Due: format

docs: refine Thunk.try example
  packages/thunx/spec.md
Due: format

docs: refine Thunk and Provider API
  packages/thunx/spec.md
Due: format

Path conditions:
  format: any of: *.{html,md,mdx,yaml}
  lint: any of: *.{css,js,jsx,json,ts,tsx}
  test: any of: *.{js,jsx,ts,tsx}
